* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  border: 3px solid;
  height: 30vh;
  height: 100%;
  max-height: 35vh;

  gap: 25px;
  background-color: black;
  opacity: 60%;
}

.link {
 flex-basis: 100px;

  text-decoration: none;
  text-transform: uppercase;

  color: white;

  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

.rio {
  font-family: 'Lobster', cursive;
  font-size: 2.8em;
  text-transform: capitalize;
 
}

.contact {
  border: 1px solid white;
  padding: 10px 20px;
}

